# Question 1
Ask the user to enter their first name and surname in lower case. <br>
Change the case to title case and join them together. <br> 
Display the finished result.<br>

In [70]:
# Allow the User to select a first and last name 
first_name = input("Please enter the first name in lower case: ")
last_name = input("Please enter the surname in lower case: ")

# Preprocess the data by trimming the whitespace from each of the strings
first_name = first_name.strip()
last_name  = last_name.strip()

Please enter the first name in lower case:
Please enter the surname in lower case: Stockman

In [71]:
# Convert the first and Last Name to lower case Capitiaize first letter of each name
first_name = first_name.lower().capitalize()
last_name = last_name.lower().capitalize()

In [72]:
# There are three ways at least we can join names

# Use the join function
name_list = [ first_name, last_name]
name1 = " ".join(name_list)

# Concatentate using the plus operator
name2 = first_name + ' ' + last_name

# Use f-string
name3 = f"{first_name} {last_name}"

In [73]:
# Handling the case where either both the first and last name were blank
if ( len(first_name) == 0 ):
    print("The first name, after trimming the spaces, was not specified")
if ( len(last_name) == 0 ):
    print("The last name ,after trimming the spaces, was not specificed")
if ( len(first_name) == 0 or len(last_name) == 0 ):
    print("")
print("The first name is ", name1)
print("The second name is ", name2)
print("The third name is ", name3)

The first name after trimming the spaces was not specified

The first name is   Stockman
The second name is   Stockman
The third name is   Stockman