In [39]:
# Pandas Examples

In [40]:
import pandas as pd
print("pandas version = ", pd.__version__)

pandas version =  1.4.4

In [41]:
data_frame_1 = pd.read_csv('car-sales.csv')
data_frame_1.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [42]:
data_frame_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [43]:
data_frame_1.shape

(10, 5)

In [44]:
data_frame_1.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [45]:
data_frame_1

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [46]:
data_frame_1 = data_frame_1.set_index('Make')

In [47]:
data_frame_1

       Colour  Odometer (KM)  Doors       Price
Make
Toyota  White         150043      4   $4,000.00
Honda     Red          87899      4   $5,000.00
Toyota   Blue          32549      3   $7,000.00
BMW     Black          11179      5  $22,000.00
Nissan  White         213095      4   $3,500.00
Toyota  Green          99213      4   $4,500.00
Honda    Blue          45698      4   $7,500.00
Honda    Blue          54738      4   $7,000.00
Toyota  White          60000      4   $6,250.00
Nissan  White          31600      4   $9,700.00

<b>TODO: Figure out why this does not work</b>

In [52]:

data_frame_1.loc['BMW', 'Toyota']
type(data_frame_1)

KeyError: 'Toyota'

In [51]:
data_frame_1.loc[['Toyota', 'Nissan']]

       Colour  Odometer (KM)  Doors      Price
Make
Toyota  White         150043      4  $4,000.00
Toyota   Blue          32549      3  $7,000.00
Toyota  Green          99213      4  $4,500.00
Toyota  White          60000      4  $6,250.00
Nissan  White         213095      4  $3,500.00
Nissan  White          31600      4  $9,700.00

In [ ]:
# Note that one set of [] make it a PDSeries -- See Doors as an example
data_frame_1.loc[['BMW', 'Toyota']]['Doors']

In [ ]:
# Note that two sets of [] make it a dataframe
data_frame_1.loc[['BMW', 'Toyota']][['Doors']]

In [ ]:
# iloc

In [ ]:
data_frame_1

In [ ]:
data_frame_1.iloc[4:7]

In [ ]:
data_frame_1.iloc[:-5]

In [ ]:
data_frame_1.iloc[2:-5]

In [ ]:
# Conditional 
data_frame_1[ (data_frame_1['Odometer (KM)'] < 33000) & (data_frame_1['Doors'] >= 4) ]

In [ ]:
# Gets the data as a series.
data_frame_1['Colour'].str.contains('ck')
#print(type(data_frame_1['Colour'].str.contains('ck')))
data_frame_1['Colour'].str.contains('ck')

In [ ]:
# Cannot use Make here since it is an index, so must be color
data_frame_1[ data_frame_1['Colour'].str.contains('ck') ]

In [54]:
# Statitics
# Good example of a suprise -- Price is not here since it is an object and describes works on int, floats
data_frame_1.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000